.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: $color-black;

    .login-brand {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        font-size: 1.6rem;

        img {
            height: 8rem;
        }

        h1 {
            color: white;
            text-transform: uppercase;
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-grey-light-1;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 1.4rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background-color: #00000076;
        border-radius: 3rem;
        padding: 5rem 8rem;
        width: 50rem;

        h1 {
            color: white;
            text-transform: uppercase;
            text-align: center;
        }

        @media only screen and (max-width:$bp-small) {
            width: 100%;
            background-color: inherit;
            padding: 2rem 5rem;
        }

        div {
            display: flex;
            align-items: end;
            justify-content: center;

            button {
                font-size: 1rem;
                margin: 0 1rem;
                padding: 1rem 2rem;
                background-color: $color-grey-dark-1;

            }
        }
    }

    input {
        background-color: transparent;
        padding: 1rem;
        border: 0.1rem solid $color-second-1;
        border-radius: 0.4rem;
        color: white;
        width: 100%;
        font-size: 1.8rem;

        &:focus {
            border: 0.1rem solid $color-second-1;
            outline: none;
        }
    }

    button {
        background-color: $color-second-1;
        color: white;
        padding: 2rem 3rem;
        border: none;
        font-weight: bold;
        cursor: pointer;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        text-transform: uppercase;

        &:hover {
            background-color: $color-second-1;
        }
    }

    span {
        color: white;
        text-transform: uppercase;
        font-size: 1.6rem;
        text-align: center;


        a {
            color: $color-second-1;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
}