.password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: white;

    &__container {
        width: 35rem;
        padding-bottom: 3rem;
        border: 1px solid $color-grey-dark-1;

        &-register {
            margin-top: 1rem;
            width: 35rem;
            height: 6rem;
            border: 1px solid $color-grey-dark-1;
        }
    }

    &__logo {
        text-align: center;
        margin-top: 4rem;
        font-size: large;
        height: 12rem;

        img {
            width: 12rem;
        }
    }

    &__title {
        font-size: 1.8rem;
        color: $color-white;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__paragraph {
        text-align: center;
        padding: 0 4rem;
        color: $color-grey-light-2;
        font-size: 1.4rem;
    }

    &__email {
        text-align: center;
        padding: .5rem;
        font-size: 1.4rem;
    }

    form {
        color: $color-white;
        font-size: 2rem;
        padding-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    input {
        height: 4rem;
        width: 26rem;
        margin-bottom: .5rem;
        border-radius: 3px;
        padding: 1rem;
        border: 1px solid $color-grey-dark-1;
        background-color: inherit;
        color: white;
    }

    button {
        width: 26rem;
        border: none;
        margin-top: 1rem;
        margin: 2rem 4rem;
        padding: 1rem 3rem;
        background-color: $color-second-1;
        color: $color-white;
        cursor: pointer;
    }

    &__or {
        padding: 0 3.6rem;
        margin: 1rem;
        color: $color-grey-dark-1;

        span {
            display: flex;
            flex-direction: row;
        }

        span:before,
        span:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid;
            margin: auto;
        }

        span:before {
            margin-right: 10px
        }

        span:after {
            margin-left: 10px
        }
    }

    &__link {
        &-register {
            font-size: 1.4rem;
            text-align: center;
            color: white;
        }
    }
}